{% extends 'base.html' %}

<h1>Expense Liste</h1>


<ul class="list-group">
    <li class="list-group-item">Comprar livros</li>
    <li class="list-group-item">Comprar livros</li>
    <li class="list-group-item">Comprar livros</li>
    <li class="list-group-item">Comprar livros</li>
    <li class="list-group-item">Comprar livros</li>
    <li class="list-group-item">Comprar livros</li>
    <li class="list-group-item">Comprar livros</li>
    <li class="list-group-item">Comprar livros</li>
    <li class="list-group-item">Comprar livros</li>
    <li class="list-group-item">Comprar livros</li>
    <li class="list-group-item">Comprar livros</li>
    <li class="list-group-item">Comprar livros</li>
</ul>